<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSPrivacyAccessedAPITypes</key>
    <array>
      <string>location</string> <!-- Si tu app utiliza la ubicación -->
      <string>photos</string>   <!-- Si tu app accede a fotos -->
    </array>

    <key>NSPrivacyCollectedDataTypes</key>
    <array>
      <string>location</string> <!-- Si tu app recopila datos de ubicación -->
      <string>photos</string>   <!-- Si tu app recopila datos de fotos -->
    </array>

    <key>NSPrivacyTrackingDomains</key>
    <array/>
    
    <key>NSPrivacyTracking</key>
    <false/> <!-- Si tu app no realiza seguimiento de usuarios -->
  </dict>
</plist>
