<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- API types that your app accede -->
    <key>NSPrivacyAccessedAPITypes</key>
    <array>
    </array>

    <!-- Data types collected by your app -->
    <key>NSPrivacyCollectedDataTypes</key>
    <array>
    </array>

    <!-- Tracking domains (if applicable) -->
    <key>NSPrivacyTrackingDomains</key>
    <array/>
    
    <!-- App tracking preference -->
    <key>NSPrivacyTracking</key>
    <false/>
</dict>
</plist>
